{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from KeepassXC (1=yes, 0=no)?" -}}

[data]
    email       = {{ $email | quote }}
    use_secrets = {{ $use_secrets }}
